:root {
  --txt-headline: #eee;
  --txt-header: rgb(255, 255, 0);

}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-image: url('../public/assets/background4.jpg');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--txt-headline);
}

.cover {
  background-color: aqua;
}

.card {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.card-header {
  color: var(--txt-header);
}

.card-bold {
  color: var(--txt-header);
}

.navbar {
  padding: 1rem;
}

.logo-img {
  width: 200px;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-header {
  margin-top: 5rem;
}

.index-header-title {
  font-size: 48px;
  font-weight: 400;
}

.index-header-text {
  font-size: 24px;
}

.index-body {
  margin-top: 5rem;
  width: 100%;
}

.btn-link {
  text-decoration: none;
  background-color: var(--txt-header);
  color: black;
}

.btn-link:hover {
  transition: ease-in-out 200ms;
  opacity: 0.8;
  color: black;
}

.btn-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btn-content {
  width: 200px;
  word-wrap: break-word;
  color: var(--txt-header);
  border: 1px solid var(--txt-header);
  outline: none;
}